
/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, a, p, h1, h2, h3, h4, h5 {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FONT FACE */

@charset "utf-8";

/* Preloader */
#preloader {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:999; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../_img/status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@font-face {
    font-family: 'museo_slab500';
    src: url('Museo Slab 500-Webfont/Museo_Slab_500_2-webfont.eot');
    src: url('Museo Slab 500-Webfont/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('Museo Slab 500-Webfont/Museo_Slab_500_2-webfont.woff') format('woff'),
         url('Museo Slab 500-Webfont/Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('Museo Slab 500-Webfont/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'dcc_-_cloudregular';
    src: url('dcc_-_cloud-webfont.eot');
    src: url('dcc_-_cloud-webfont.eot?#iefix') format('embedded-opentype'),
         url('dcc_-_cloud-webfont.woff') format('woff'),
         url('dcc_-_cloud-webfont.ttf') format('truetype'),
         url('dcc_-_cloud-webfont.svg#dcc_-_cloudregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'snowtop_capsregular';
    src: url('snowtopcaps-webfont.eot');
    src: url('snowtopcaps-webfont.eot?#iefix') format('embedded-opentype'),
         url('snowtopcaps-webfont.woff') format('woff'),
         url('snowtopcaps-webfont.ttf') format('truetype'),
         url('snowtopcaps-webfont.svg#snowtop_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('kaushan-script/kaushanscript-regular-webfont.eot');
    src: url('kaushan-script/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('kaushan-script/kaushanscript-regular-webfont.woff') format('woff'),
         url('kaushan-script/kaushanscript-regular-webfont.ttf') format('truetype'),
         url('kaushan-script/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* BODY */

body {
	font-family: 'museo_slab500';
	font-size: 0.625em;
	color: #fff;
	background: #63b2ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #63b2ff 0%, #b5fff2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63b2ff), color-stop(100%,#b5fff2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #63b2ff 0%,#b5fff2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #63b2ff 0%,#b5fff2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #63b2ff 0%,#b5fff2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #63b2ff 0%,#b5fff2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b2ff', endColorstr='#b5fff2',GradientType=0 ); /* IE6-9 */
}	

/* SKY AND NAVIGATION */

#skrollr-body{
	overflow: hidden;	
}

.content-wrapper{
	max-width: 1300px;
	margin: 0 auto;	
}

nav{
	width: 100%;;
	position: fixed;
	height: 80px;
	z-index: 998;
}


nav h1{
	display: block;
	top: 35px;
	float: left;	
	width: 150px;
	font-size: 1.8em;
	text-align: center;
	height: 115px;
	width: 163px;
	line-height: 115px;
	background: url(../_img/Individual-Clouds_09.png) no-repeat;
	color: #292929;
	border-radius: 5px;
}

nav .menu-wrapper{
	width: 100%;
	height: 100%;
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

nav ul{
	position: relative;
	display: block;
	font-size: 2.5em;
	float: right;
	font-family: 'kaushan_scriptregular';
}


nav ul li{
	position: relative;
	display: inline-block;
	width: 163px;
	height: 115px;
	cursor: pointer;
	line-height: 115px;
	text-align: center;
	margin-left: -40px;
}

nav ul li a:not(.active):hover{
	top: -30px;	
}

nav ul li a{
	position: relative;
	text-decoration: none;
	font-size: 0.7em;
	color: #292929;
	width: 163px;
	height: 115px;
	top: -80px;
	transition:All 0.1s ease;
	-webkit-transition:All .1s ease;
	-moz-transition:All .1s ease;
	-o-transition:All .1s ease;
	background: url(../_img/Individual-Clouds_09.png) no-repeat;
	margin: 0;
}

nav ul li a.active{
	top: -30px;	
}

#sky, #clouds, #mountains, #meadow, footer{
	position: relative;
	width: 100%;
	height: 600px;	
}

#sky{
	font-family: 'dcc_-_cloudregular';
	height: 500px;
}

#sky .head{
	position: relative;
	width: 100%;
	margin: 120px 0 0 0;
	font-size: 5em;
	float: left;
	text-align: center;
}
#sky .head span{
	position: relative;

}
#sky .head span.top-center{
	font-size: 1.5em;
	}

#sky h3{
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 3em;
}


#sky .slogan{
	font-size: 3em;
	margin-top: 170px;
	margin-left: 15%;
	position: relative;
	width: 50%;	
	float: left;
	text-align: left;
	padding-right: 20px;
	opacity: 0;
}

#sky .devices{
	position: absolute;
	width: 469px;
	height: 204px;
	float: left;
	right: 100%;
	
	margin: 50px 0;
	z-index: 900;
}
#sky .devices .devices-inside{
	position:relative;
	background: url(../_img/plane.png)no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;	
	background-size: cover;
	width: 469px;
	height: 204px;
}

#sky .technology{
	position: absolute;
	opacity: 0;
	-webkit-background-size: contain;
	-moz-background-size: contain;	
	background-size: contain;
	z-index: 400;
	
}

#sky .technology div{
	background-position: left bottom;
	padding-top: 50%;
	-webkit-animation: parachute 2s linear infinite;
	-moz-animation: parachute 2s linear infinite;
	-o-animation: parachute 2s linear infinite;
	animation: parachute 2s linear infinite;	
}

#android-inside{
	background: url(../_img/android.png) no-repeat;
	position:relative;
	top: 50%;
	width: 101px;
	height: 134px;	
}


#apple-inside{
	position:relative;
	background: url(../_img/apple.png) no-repeat;
	width: 115px;
	height: 145px;
}



#ruby-inside{
	position:relative;
	background: url(../_img/ruby.png) no-repeat;
	width: 60px;
	height: 70px;
}


#windows-inside{
	position:relative;
	background: url(../_img/windows.png) no-repeat;
	width: 63px;
	height: 80px;
}

#mac-inside{
	background: url(../_img/mac.png) no-repeat;
	position:relative;
	width: 162px;
	height: 200px;	
}


#iphone-inside{
	background: url(../_img/iphone.png) no-repeat;
	position:relative;
	width: 120px;
	height: 164px;	
}


#big-mac-inside{
	background: url(../_img/big-mac.png) no-repeat;
	position:relative;
	width: 144px;
	height: 230px;	
}

.levitate{
	-webkit-animation: levitate 2s linear infinite;
	-moz-animation: levitate 2s linear infinite;
	-o-animation: levitate 2s linear infinite;
	animation: levitate 2s linear infinite;	
}

#sun{
	position: absolute;	
	left: 50%;
	margin-left: -500px;
	top: 80px;
}

#clouds{
	height: 250px;
	z-index: 900;
}

#clouds .cloud-row{
	position: relative;
	background: url(../_img/cloud-pattern.png) repeat-x;
	width: 100%;
}

#clouds .third{
	height: 200px;
	opacity: 0.6;
	-webkit-background-size: 267px 100%;
	-moz-background-size: 267px 100%;
	-o-background-size: 267px 100%;
	background-size: 267px 100%;
}

#clouds .second{
	height: 250px;
	opacity: 0.8;
	-webkit-background-size: 333px 100%;
	-moz-background-size: 333px 100%;
	-o-background-size: 333px 100%;
	background-size: 333px 100%;
}

#clouds .first{
	height: 300px;
}

.row{
	width: 100%;
	text-align: center;	
}

.row .collumn{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 25%;
	min-width: 200px;
	max-width: 280px;
}

img{
	position: relative;
	max-width: 100%;	
}


.big-mount h2 div{
	position: relative;
	float: left;
}

.big-mount .first-row{
	padding-top: 180px;
	min-height: 140px;
}

.big-mount .second-row{
	font-size: 2.5em;	
}

.big-mount .second-row p{
	font-size: 0.8em !important;
	display: inline-block;
	max-width: 500px;	
}

.big-mount h2{
	font-family: 'dcc_-_cloudregular';
	z-index:950;
	font-size: 5em;	
	padding: 0 10%;
}

.consulting, .mobile{
	color: #433333;
}

.big-mount .row .web{
	margin: -20px 80px 0 80px;
	font-size: .8em;
	max-width: 240px;
}



.big-mount .row h3{
	font-size: 2.2em;
	margin-bottom: 5px;
}

.big-mount .row.second-row h3{
	font-size: 1.1em;	
}

.big-mount .row p{
	font-size: 1.6em;	
}

.web{
	color: #433333;	
}

.big-mountain, .mountain-row{
	position: relative;
	width: 100%;
}

#mountains{
	height: 1200px;
	overflow: hidden;
}

#mountains .mountain-row .third-cont{
	height: 200px;
	background: #583f3f;
	z-index: 30;
}

#mountains .mountain-row .third{
	position: relative;
	width: 100%;
	height: 80px;
	background: url(../_img/mountain-last-row.png) repeat-x;
	-webkit-background-size: 261px 100%;
	-moz-background-size: 261px 100%;
	-o-background-size: 261px 100%;
	background-size: 261px 100%;
	z-index: 20;
}

#mountains .big-mount{
	position: relative;
	width: 100%;
	height: 600px;
	background: url(../_img/mountain-big.png) no-repeat center center;
	z-index: 10;
	margin-bottom: -100px;
}

#mountains .mountain-row .second{
	position: relative;
	width: 100%;
	height: 100px;
	background: url(../_img/mountain-row-2.png) repeat-x bottom;
	-webkit-background-size: 333px 100%;
	-moz-background-size: 476px 100%;
	-o-background-size: 476px 100%;
	background-size: 476px 100%;
	z-index: 70;

}

#mountains .mountain-row .second-cont{
	height: 200px;
	background: #644c4c;
}

#mountains .r1{
	z-index: 80;	
}


#mountains .r2{
	z-index: 90;	
}


#mountains .r3{
	z-index: 500;	
}

#mountains .mountain-row .first{
	position: relative;
	width: 100%;
	height: 120px;
	background: url(../_img/mountain-row-1.png) repeat-x bottom;
	-webkit-background-size: contain;
	-moz-background-size: contain;	
	background-size: contain;
	z-index: 80;
	
}

#mountains .mountain-row .first-cont{
	height: 750px;
	background: #d5f3fa;
	z-index: 80;
	color: #19b2ff;
	
}


#mountains .mountain-row .first-cont img{
	width: 100%;
	height: 100%;	
}
#how{
	padding: 30px 10%;
	margin-bottom: 50px;
	
}

#how h2{
	font-size: 5em;	
	margin-bottom: 15px;
	font-family: 'kaushan_scriptregular';
}

#how p{
	font-size: 2.4em;	
}


#mountains .first-cont .col-1{
	padding-top: 20px;	
}

#mountains .first-cont .col-2{
	min-width: 370px;
	max-width: 430px;
}

#mountains .first-cont .col-3{
	margin-top: -40px;	
}

.step-1, .step-2, .step-3, .step-4{
	margin-bottom: 20px;
	position: relative;	
}

.step-3, .step-4{
	font-size: 1.3em;	
}

#mountains .first-cont .collumn h3{
	font-size: 2.2em;
	margin-bottom: 5px;
}

#mountains .first-cont .collumn p{
	font-size: 1.4em;
	font-family: 'museo_slab500';
}

#meadow{
	background: #befc8b url(../_img/grass_pattern.png) bottom repeat-x;
	z-index: 500;
	color: #549320;
}

#meadow .tree-row{
	width: 100%;
	position: relative;	
}

#meadow .third{
	height: 125px;
	background: url(../_img/tree-pattern.png) repeat-x -50px top;
	z-index: 120;
	-webkit-background-size: contain;
	-moz-background-size: contain;	
	background-size: contain;
	top: -100px;
	opacity: 0.8;
}

#meadow .second{
	height: 145px;
	background: url(../_img/tree-pattern2.png) repeat-x;
	z-index: 130;
	opacity: 0.9;
}

#meadow .first{
	height: 165px;
	background: url(../_img/tree-pattern2.png) repeat-x 100px top;
	z-index: 140;
}

#meadow .tree-row:last-child{
	z-index: 250;	
}

#meadow .team{
	width: 100%;
	height: 565px;	
	background: #befc8b;

}

#meadow .team .row .collumn{
	max-width: 320px;
	width: 70%;	
}


#meadow .team .row .col-3{
	margin-left: 15%;
	max-width: 250px;	
}

#meadow h2{
	font-size: 4em;
	margin: 20px 50px;
	font-family: 'kaushan_scriptregular';
}

.jerry, .nhat, .kriss, .lucas, .fire, .ewelina, .paulina, .marta{
	float: left;
	position: relative;
	max-width: 80px;
}
   

.fire{
	left: 50px;
	top: -20px;	
}

.paulina:after, .ewelina:after, .marta:after, .nhat:after, .jerry:after, .lucas:after, .kriss:after{
	position: absolute;
	width: 100%;
	font-size: 2em;
	color: #549320;
	text-align: center;
	left: 0px;
	top: 100%;	
}

    
.paulina:after{
	content: 'Paulina';
}
.ewelina:after{
	content: 'Ewelina';
}
.marta:after{
	content: 'Martha';
}   
.nhat:after{
	content: 'Nhat';
}
.jerry:after{
	content: 'Jerzy';
}
.lucas:after{
	content: 'Lucas';
}
.kriss:after{
	content: 'Kris';
}

.ewelina{
	max-width: 60px;
	top: 40px;
	left: -30px;	
}     
.marta{     
	top: 0px;
	left: 60px; 
}
.nhat{
	top: 50px; 
	left: 0px;
}
.jerry{
	max-width: 60px;
 	left: 0px;
	top: -20px;
}
.paulina{
	top: -20px;
	left: -10px ;
	max-width: 100px;
}
.lucas{
	top: 30px;
	left: -250px;
}
.kriss{
	top: -20px;
	left: 30px;
}	


#meadow .row{
	margin-bottom: 80px;
}

#meadow .row .lake{
	top: 10px;
	left: 20px;
}

#meadow .row .sign{
	position: absolute;
	top: 270px;
	left: 65%;
	height: 450px;
	width: 300px;
	color: #4e2f1b;
	font-size: 1.5em;
	-moz-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	z-index: 400;
}

#meadow .row .sign .hire-us{
	position: absolute;
	width: 250px;
	height: 80px;
	background: #4e2f1b;
	color: #fff;
	text-align: center;
	line-height: 80px;
	left: 120px;
	margin-left: -75px;
	top: 0px;
	font-size: 1.5em;
	border-radius: 5px; 
	font-weight:bold;
	z-index: 800;
}

.stick{
	position: absolute;
	height: 100%;
	width: 30px;
	background: #4e2f1b;
	left: 50%;
	margin-left: -5px;
	z-index: 290; 
	top:-10px;
}

.smartshack-sign{
	position: absolute;
	font-family: 'kaushan_scriptregular';
	width: 200px;
	height: 200px;
	top: 550px;
	left: 8%;
	-moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.smartshack-sign .smartboard{
	position: absolute;
	background: #4e2f1b;
	width: 100%;
	height: 80px;
	border-radius: 5px;
	color: #fff;
	font-size: 2.5em;
	line-height: 40px;
	z-index: 300;
}

.n1{
	font-weight: 700;	
}

.new-york{
	position: absolute;
	z-index: 300;
	left: 30px;
	top: 88px;
}

.cracow{
	position: absolute;
	z-index: 300;
	left: 70px;
	top: 238px;
}

.board{
	position: relative;
	height: 30px;
	min-width: 200px;
	background: #edcea5;
	margin-bottom: 5px;
	border-top: #bb7240 solid 1px;
	border-bottom: #bb7240 solid 1px;
	line-height: 30px;
	text-align: center;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
}

.new-york .board{
	border-right: #bb7240 solid 1px;
}


.cracow .board{
	border-left: #bb7240 solid 1px;
}


.rocks{
	top: 94%;
	z-index: 310;
}

.board:before{
	content: '';
	position: absolute;
	width: 21px;
	height: 21px;
	background: #edcea5;
	top: 4px;
	-moz-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	z-index: 290;
}

.new-york .board:before{
	border-left: #bb7240 solid 1px;
	border-bottom: #bb7240 solid 1px;
	left: -11px;
}

.cracow .board:before{
	border-right: #bb7240 solid 1px;
	border-top: #bb7240 solid 1px;
	left: 189px;
	
}

.new-york .n1{
	-moz-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.new-york .n1:hover{
	-moz-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.new-york .n2{
	-moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.new-york .n2:hover{
	-moz-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.new-york .n3{
	-moz-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.new-york .n3:hover{
	-moz-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.new-york .n4{
	-moz-transform: scale(1) rotate(1deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(1deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(1deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(1deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(1deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	background: #4e2f1b;
	color: #fff;
	border: none;
}



.new-york .n4:before, .cracow .n4:before{
	background: #4e2f1b;
	border: none;
}

.new-york .n4:hover{
	-moz-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.cracow .n1{
	-moz-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.cracow .n1:hover{
	-moz-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.cracow .n2{
	-moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.cracow .n2:hover{
	-moz-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.cracow .n3{
	-moz-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.cracow .n3:hover{
	-moz-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.cracow .n4{
	-moz-transform: scale(1) rotate(-1deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-1deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-1deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-1deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-1deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.cracow .n4{
	background: #4e2f1b;
	color: #fff;
	border: none;	
}

.cracow .n4:hover{
	-moz-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-6deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

p.speech{
	position: absolute;
	width: 200px;
	padding: 10px;
	text-align: center;
	background-color: #fff;
	border: 2px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	font-size: 1.5em;
	color: #292929;
	z-index: 999;
}

/*p.speech:before{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 100px;
	border: 23px solid;
	border-color: #666 transparent transparent #666;
}

p.speech:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 32px;
	top: 100px;
	border: 20px solid;
	border-color: #fff transparent transparent #fff;
}
*/
.board.n4 a{
	color: #fff;
	text-decoration: none;
}

p.speech.x1{
	top: -130px;
}

p.speech.x2{
	top: -130px;
	left: 30px;
}

p.speech.x3{
	top: -150px;
	left: 20px;
}

p.speech.x4{
	top: -80px;
	left: 30px;
}

p.speech.x5{
	top: -150px;
	left: 30px;
}

p.speech.x6{
	top: -150px;
	left: 30px;
}

p.speech.x7{
	top: -100px;
	left: 30px;
}

.tents{
	position: relative;
	left:-10px;
	top: -80px;
}

#meadow .hills{
	width: 100%;
	height: 69px;
	background: url(../_img/hill.png) repeat-x;
	position: absolute;
	bottom: 0px;
	z-index: 900;
}

.signs{
	position: relative;	
}


@media screen and (max-width: 800px) {
		#sky, #clouds, #mountains, #meadow, footer, #mountains .mountain-row .first-cont{
			position: relative;
			height: auto !important;
			float: left;	
		}
		nav ul, .tents, .technology, .cloud-row.third, .cloud-row.second, .mountain-row.third, #mountains .r2, #mountains .mountain-row .first-cont img, #meadow .third, #meadow .second, .stick, .devices {
			display: none;
		}
		
		nav h1{
			font-size: 1.8em;	
		}
		
		#sky .slogan{
			width: 100%;
			text-align: center;
			margin: 0;
			margin-top: 30px;	
		}
		.big-mount .second-row p{
			max-width: 100%;	
		}
		#clouds .first{
			height: 200px;
			-webkit-background-size: 267px 100%;
			-moz-background-size: 267px 100%;
			-o-background-size: 267px 100%;
			background-size: 267px 100%;
		}
		#meadow .tree-row{
			margin-top: -100px;	
		}
		#mountains .big-mount{
			background: none;
			margin:0;
			height: auto !important;
		}
		
		#mountains .big-mount .row{
			color: #fff !important;

		}
		#mountains .big-mount .web h3{
			font-size: 2.9em !important;	
		}
		
		#mountains .big-mount .web p{
			font-size: 2em !important;	
		}
		
		#mountains .big-mount .first-row{
			font-size: 1.3em;	
		}
		#mountains .first-cont .col-1{
			font-size: 1em !important;	
		}
		
		#mountains .first-cont .collumn h3{
			font-size: 2.2em !important;	
		}
		.big-mount h2{
			overflow: hidden;
			text-align: center;	
		}
	
		.big-mount .first-row{
			padding-top: 50px;
			margin: 0;
		}
		
		.big-mount .second-row{
			margin-top: 20px;	
		}
		.row p{
			text-align: left;
			margin: 0 5%;
		}
		#mountains .first-cont .col-1 h3{
			font-size: 2.9em !important;	
		}
		
		#mountains .first-cont .col-1 p{
			font-size: 1.8em !important;	
		}
		
		.big-mount .row p{
			z-index: 100 !important;	
		}
		.r1 .third-cont{
			background: none !important;
		}
		
		#mountains .big-mount .second-row h3{
			font-size: 1.16em;	
		}
		
		.r3{
			margin-top: -200px;	
		}
		
		.r3 .row{
			margin-bottom: 100px;	
		}
		
		#how{
			margin-bottom: 0;	
		}
		
		#mountains .r1{
			z-index: 0;	
		}
		#mountains .big-mount h3{
			margin: 0 5% 10px 5%;
		}
		#mountains .first-cont .col-3{
			margin: 0;	
		}
		
		#mountains .first-cont .collumn h3{
			margin: 0 5% 10px 5%;	
		}
		.big-mount h2{
			font-size: 4em;	
		}
		.collumn{
			display: block !important;
			max-width: 100% !important;
			min-width: 100% !important;
			width: 100% !important;
		}
		.big-mount .collumn{
			margin: 20px 0 !important;
			color: #fff !important;
		}
		#meadow .row{
			float: left;
			margin: 0;
		}
		
		#meadow .row .sign{
			position: relative;
			max-width: 510px;
			width: 100%;
			min-width: 250px;
			margin: 0 auto;
			width: auto !important;
			font-size: 2.2em !important;
			height: 300px;
		}
		.sign .new-york, .sign .cracow{
			width: 250px;
			float: left;
		}
		#meadow .row .sign .cracow{
			margin-left: 10px !important;
		}
		.smartshack-sign{
			display: none;	
		}
		
		.sign div:not(.n4){
			background: none !important;
			color: #292929 !important;
		}
		
		.sign div, .sign div a{
				
			-moz-transform: rotate(0deg) !important;
			-webkit-transform: rotate(0deg) !important;
			-o-transform: rotate(0deg) !important;
			-ms-transform: rotate(0deg) !important;
			transform: rotate(0deg) !important;
			border: none !important;
			
			position: relative !important;
			top: 0 !important;
			left: 0 !important;
			margin: 0 auto !important;
			
		}
		#meadow .sign div a{
			
		}
		.sign .new-york{
			margin-bottom: 10px !important;	
		}
		
		.sign div:before{
			display: none;	
		}
		
		#meadow .row .sign{
			position: relative;
			top: 0;
			left: 0;
			margin: 0 auto;
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		.fire{
			display: none;	
		}
		
		.staff{
			max-width: 100%;
			width: 100%;
			top: 0;
			left: 0;
			float: left;
			margin-bottom: 25px;
			border-bottom: rgb(84, 147, 32) 1px solid;
		}
		.staff img{
			float: left;
			width: 15%;
			margin: 0 0 10px 10px;
			min-width: 70px;
		}
		.staff img:not(.dupa){
			width: 10%;	
		}
		
		.staff:after{
			left: 8%;
			top: -20px;
			text-align: left;
		}
		
		#meadow .staff .speech{
			position: relative;
			width: 90%;
			background: none;
			border: none;
			top:0;
			left: 0;	
			font-size: 2em;
		}
		
		#meadow .staff .speech img{
			margin-right: 10px;	
		}
	}
	
	@media screen and (max-width: 510px){
		#meadow .row .sign{
			height: 420px;	
		}
		#meadow .row .sign .new-york, #meadow .row .sign .cracow{
			margin-left: auto !important;
			margin-right: auto !important;
			float: none;	
		}
	}
	
	@media screen and (min-width: 801px) and (max-width: 1070px){
		#mountains{
			height: 1375px !important;	
		}
		
		#mountains .mountain-row .first-cont{
			height: 875px;	
		}
	}
@-webkit-keyframes parachute {
	0% { -webkit-transform: rotate(0deg);}
	25% { -webkit-transform: rotate(-5deg);}
	50% { -webkit-transform: rotate(0deg);}
	75% { -webkit-transform: rotate(5deg);}
	100% { -webkit-transform: rotate(0deg);}
}
@-moz-keyframes parachute {
	0% { -moz-transform: rotate(0deg);}
	25% { -moz-transform: rotate(-5deg);}
	50% { -moz-transform: rotate(0deg);}
	75% { -moz-transform: rotate(5deg);}
	100% { -moz-transform: rotate(0deg);}
}
@-o-keyframes parachute {
	0% { -o-transform: rotate(0deg);}
	25% { -o-transform: rotate(-5deg);}
	50% { -o-transform: rotate(0deg);}
	75% { -o-transform: rotate(5deg);}
	100% { -o-transform: rotate(0deg);}
}

@-webkit-keyframes levitate {
	0% {
		top: 200px;
	}
	50% {
		top: 220px;
	}
	100%{
		top: 200px;	
	}
}
@-moz-keyframes levitate {
	0% {
		top: 200px;
	}
	50% {
		top: 220px;
	}
	100%{
		top: 200px;	
	}
}
@-o-keyframes levitate {
	0% {
		top: 200px;
	}
	50% {
		top: 220px;
	}
	100%{
		top: 200px;	
	}
}       



